.submitBtn{
  background-color: #4ABDAC;
  border: none;
}

.saveBook{
  margin:4px;
  background-color:#FC4A1A;
  border:none;
}

.viewBook{
  margin:4px;
  background-color:#F7B733;
  border:none;
}

